:host {
    box-sizing: border-box;
    height: 44px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

pll-splash-text {
    font-size: 1.5em;
    border-bottom: 4px solid var(--primary);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

button {
    min-width: 48px;
    padding: 9px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 4px solid transparent;
    background: none;

    cursor: pointer;

    transition: background 0.2s;
}

button:hover {
    background: rgba(255, 255, 255, 0.2);
}

button.active {
    background: rgba(255, 255, 255, 0.8);
    border-bottom-color: var(--primary);
}

button img {
    width: 1.5em;
    height: 1.5em;
}

button:disabled {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

:host > button:not(:fist-child) {
    border-left: none;
}