fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.screen-setup {
    height: 100%;

    display: grid;
    align-content: flex-start;
    grid-template-rows: auto auto 1fr auto;
    grid-row-gap: 10px;

    padding: 10px;
}

.setup-screen-learn-lang-row {
    display: grid;
    align-content: flex-start;
    grid-row-gap: 5px;
}

.setup-screen-item {
    position: relative;

    display: grid;
    align-content: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 6px;

    padding: 16px;

    color: black;

    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.setup-screen-item > img,
.setup-screen-item > span{
    z-index: 2;
    pointer-events: none;
}

.setup-screen-item input {
    z-index: 1;

    cursor: pointer;
}

.setup-screen-item input:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;


    background-color: azure;
}

.setup-screen-item input:checked:before {
    background-color: #D6D6E7;
}

.setup-screen-item input:hover:before {
    background-color: #ddd;
}


.setup-screen-item img {
    width: 26px;
}