:host {
  min-height: 0;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: flex-start;
  align-content: flex-start;
  grid-row-gap: 12px;
}

.profile-view {
  display: grid;
  justify-items: center;
  grid-row-gap: 6px;
}

.profile-avatar-wrapper {
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}