header {
    position: relative;

    margin: 0;
    padding: 0 12px 20px;

    display: grid;
    align-items: center;
    justify-content: center;

    background: rgba(0, 224, 255, 1);
    /** blue: rgba(0,224,255,1) **/
    background: linear-gradient(0deg, rgba(249, 255, 0, 1) 12%, rgba(0, 224, 255, 1) 82%);
    /*box-shadow: 0 0 30px 12px yellow;*/
    /*border-bottom: 1px solid #ddd;*/
    color: white;

    font-family: CherryBombOne-Regular;
}

h1 {
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 19px;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.4), 0 1px rgba(0, 0, 0, 0.4), 1px 0 rgba(0, 0, 0, 0.4), 0 -1px rgba(0, 0, 0, 0.4);
    margin: 0 0 -4px;
    opacity: 0.9;
}

.made-in-ukraine-with-love {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);

    margin-right: 10px;

    font-size: 10px;

    color: #fff;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.4), 0 1px rgba(0, 0, 0, 0.4), 1px 0 rgba(0, 0, 0, 0.4), 0 -1px rgba(0, 0, 0, 0.4);
}
